<!DOCTYPE html>
<html>

<head>
	<title>Peak Pulse Info Esperto</title>
	<link rel="stylesheet" href="/css/style.css">
</head>

<body>
	<header>
		<a href="/" class="logo">Siw-PeakPulse</a>
		<h1 class="section-title">INFO ESPERTO</h1>
		<ul>
			<li><a href="/" class="active">Home</a></li>
		</ul>
	</header>
	<div class="info-section" id="info">
		<div class="info-esperto">
			<div class="info-content">
				<div class="nome-cognome" th:text="${esperto.nome} + ' ' + ${esperto.cognome}"></div>
				<div class="anno-di-nascita">
					<h3>Data di Nascita:</h3>
					<div th:if="${esperto.nascita != null}">
						<div class="nascita-testo" th:text="${#temporals.format(esperto.nascita, 'dd-MM-yyyy')}"></div>
					</div>
					<div th:if="${esperto.nascita == null}">
						Non disponibile
					</div>
				</div>
				<div class="descrizione">
					<h3>Descrizione:</h3>
					<div class="descrizione-testo" th:text="${esperto.descrizione}"></div>
					<div th:if="${esperto.descrizione == null}">
						Non disponibile
					</div>
				</div>
			</div>
			<div class="image-block">
				<div class="info-image" th:if="${esperto.urlImage != null}">
					<div class="image">
						<img class="immagine" th:if="${esperto.urlImage.startsWith('https')}" th:src="${esperto.urlImage}" style="width:200px; height: 200px;" alt="Esperto Image">
						<img class="immagine" th:unless="${esperto.urlImage.startsWith('https')}" th:src="@{/images/__${esperto.urlImage}__}" alt="Esperto Image">
					</div>
				</div>
			</div>
		</div>
	</div>
	<div class="info-section-attrezzature" id="attrezzature-utilizzate" style="background-color: unset;">
		<div class="list-content-attrezzature" style="display: flex; flex-direction: column; align-items: center;">
			<div class="titolo-lista" th:if="${esperto.attivita!=null}">
				<strong style=" font-size: 30px; color: white; display: flex; flex-direction: row;">Attività proposte da
					<div class="nome-esperto" th:text="${':' + ' ' + esperto.nome}"></div>
				</strong>
				<ul class=" list-attrezzature">
					<div class=" list-div-attrezzature" th:each="attivita : ${esperto.attivita}">
						<li class="list-item-attrezzature">
							<div class="image-box">
								<div class="info-image-box" th:if="${attivita.urlImage != null}"
									style="display: flex; flex-direction: column; align-items: center;">
									<div class="image">
										<img class="immagine-attrezzatura"
											th:src="@{/images/__${attivita.urlImage}__}" alt="Attivita Image">
									</div>
								</div>
							</div>
							<a class="list-link" th:href="@{'/attivita' + '/' + ${attivita.id}}"
								th:text="${attivita.nome}" style="color: white;"></a>
						</li>
					</div>
				</ul>
			</div>
			<div class="lista-attivita-empty" th:if="${esperto.attivita==null}">
				<strong style="font-size: 30px; color: white; display: flex; flex-direction: row; ">
					<div class="nome-esperto" th:text="${esperto.nome}" style="margin-right: 10px;"></div>
					<p>non ha proposto ancora nessuna attività...</p>
				</strong>
			</div>
		</div>
	</div>
</body>

</html>