<!DOCTYPE html>
<html>

<head>
	<title>Peak Pulse Website</title>
	<link rel="stylesheet" href="/css/style.css">
</head>

<body>
	<header>
		<a href="/" class="logo">Siw-PeakPulse</a>
		<ul>
			<li>
				<div class="active" th:if="${userDetails}">
					<div th:text="${userDetails.username}"></div>
					<a href="/logout">Logout</a>
				</div>
			</li>
			<li><a href="/login" class="active">Login</a></li>
			<li><a href="#sec-2">Elenchi</a></li>
			<li><a href="#sec-3">Chi Siamo</a></li>
			<li><a href="#sec-4">Contatti</a></li>
		</ul>
	</header>
	<section class="sfondo" id="sfondo">
		<img src="/images/cielo.png" id="cielo">
		<img src="/images/montagne_back.png" id="montagne_back">
		<h2 id="text">Peak Pulse</h2>
		<a href="#sec" id="button">Esplora</a>
		<img src="/images/montagna_front.png" id="montagne_front">
	</section>
	<div class="sec" id="sec">

		<h2>Esplora. Condividi. Vivi l'Avventura.</h2>
		<p>Peak Pulse è la tua piattaforma ideale per esplorare percorsi di hiking, trekking e mountain bike. Qui, gli
			appassionati di outdoor possono scoprire nuovi itinerari, condividere le proprie esperienze e fornire
			consigli preziosi. Che tu sia un esperto escursionista o un appassionato di mountain bike, Peak Pulse ti
			offre tutto ciò di cui hai bisogno per pianificare la tua prossima avventura.</p>

		<h2>Cosa Puoi Fare su Peak Pulse?</h2>

		<p><strong>Esplora Percorsi Unici:</strong><br> Sfoglia una vasta raccolta di percorsi creati e condivisi da
			altri
			appassionati come te. Trova l'itinerario perfetto per le tue esigenze, sia che tu stia cercando una facile
			passeggiata panoramica o una sfida adrenalinica in mountain bike.</p>

		<p><strong>Condividi le Tue Esperienze:</strong><br> Sei appena tornato da un'epica avventura? Carica i tuoi
			percorsi, completa di mappe, foto e descrizioni dettagliate. Condividi le tue scoperte e ispirazioni con la
			comunità.</p>

		<p><strong>Consigli e Recensioni:</strong><br> Leggi le recensioni degli altri utenti per scoprire i punti
			salienti
			e le sfide dei vari percorsi. Aggiungi i tuoi consigli e raccomandazioni per aiutare altri esploratori a
			prepararsi al meglio.</p>

		<p><strong>Crea la Tua Rete di Avventurieri:</strong><br> Connettiti con altri utenti, scambia idee, pianifica
			escursioni di gruppo e costruisci una rete di amici con la stessa passione per l'outdoor.</p>

		<h2>Perché Scegliere Peak Pulse?</h2>

		<p><strong>Community di Esperti:</strong><br> Unisciti a una community di appassionati esperti che condividono
			la
			tua passione per l'avventura e l'esplorazione.</p>

		<p><strong>Contenuti Autentici:</strong><br> Ogni percorso e recensione è creato da utenti reali che hanno
			vissuto
			le esperienze che condividono, offrendoti informazioni autentiche e affidabili.</p>

		<p><strong>Strumenti Avanzati:</strong><br> Utilizza strumenti di navigazione avanzati, mappe interattive e
			statistiche dettagliate per pianificare al meglio le tue uscite.</p>

		<br><br>
		<p>Preparati a scoprire nuovi orizzonti e a vivere esperienze indimenticabili. Peak Pulse è il punto di
			riferimento per tutti gli appassionati di hiking, trekking e mountain bike. Unisciti a noi e inizia la tua
			prossima avventura oggi stesso!</p>
	</div>
	<!--			sezione con triplice immagine e visualizzazione-->
	<div class="sec-2" id="sec-2">
		<div class="sec-2-content" id="sec-2-content">
			<div class="ss-image-block">
				<div class="ss-block-content">
					<!-- Immagine 1 -->
					<img src="/images/esperto.jpg" id="img1">
					<!-- Link "Aggiungi" e "Gestisci" per l'immagine 1 -->
					<div class="links">
						<a href="/esperti" class="add-link">Elenco Esperti</a>
					</div>
				</div>
			</div>
			<div class="ss-image-block">
				<div class="ss-block-content">
					<!-- Immagine 2 -->
					<img src="/images/attivita.jpg" id="img2">
					<!-- Link "Aggiungi" e "Gestisci" per l'immagine 2 -->
					<div class="links">
						<a href="/listaAttivita" class="add-link">Elenco Attività</a>
					</div>
				</div>
			</div>
			<div class="ss-image-block">
				<div class="ss-block-content">
					<!-- Immagine 3 -->
					<img src="/images/attrezzatura.jpg" id="img3">
					<!-- Link "Aggiungi" e "Gestisci" per l'immagine 3 -->
					<div class="links">
						<a href="/attrezzature" class="add-link">Elenco Attrezzature</a>
					</div>
				</div>
			</div>
		</div>
	</div>
	<div class="sec-3" id="sec-3">
		<h2>Chi Siamo</h2>
		<div class="sec-3-content">
			<div class="ts-image-block">
				<div class="sec-3-block">
					<img src="/images/edoardo.png">
				</div>
			</div>
			<div class="sec-3-text-block">
				<h3>Edoardo Piazzolla</h3>
				<p>Nato a Roma il 24/04/2003, attuale studente iscritto alla facoltà di Ingegneria Informatica
					all'Università degli
					Studi di Roma Tre. Membro della coppia di sviluppatori del sito web "PeakPulse", progetto ideato per
					il corso di
					Sistemi Informativi sul Web.
					<br>
					- Passioni: Programmazione, Sport, Cucina
					<br>
					- Motto: "Non è che non ci sei riuscito, hai scoperto vari motivi per cui non funziona"
				</p>
			</div>
		</div>
		<div class="sec-3-content">
			<div class="ts-image-block">
				<div class="sec-3-block">
					<img src="/images/vincenzo.png">
				</div>
			</div>
			<div class="sec-3-text-block">
				<h3>Vincenzo Milillo</h3>
				<p>Nato a Roma il 08/09/2002, attuale studente iscritto alla facoltà di Ingegneria Informatica
					all'Università degli
					Studi di Roma Tre. Membro della coppia di sviluppatori del sito web "PeakPulse", progetto ideato per
					il corso di
					Sistemi Informativi sul Web.
					<br>
					- Passioni: Beach-Volley, Cubo di Rubik
					<br>
					- Motto: "Dopo una salita c'è sempre una discesa"
				</p>
			</div>
		</div>
	</div>
	<div class="sec-4" id="sec-4">
		<h2>Info e Contatti</h2>
		<div class="sec-4-container">
			<div class="map-container">
				<iframe
					src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d1767.0238307762284!2d12.467979816094333!3d41.85481995829776!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x13258a922b3edaeb%3A0xd7c1990833e3ea29!2sIngegneria%20Informatica%20-%20Universit%C3%A0%20Roma%20Tre!5e0!3m2!1sit!2sit!4v1717433167407!5m2!1sit!2sit"
					width="600" height="450" style="border:0;" allowfullscreen="" loading="lazy"
					referrerpolicy="no-referrer-when-downgrade"></iframe>
			</div>
			<div class="contacts-container">
				<h3>Edoardo:</h3>
				<p>Matricola: 577068</p>
				<p>Email: edo.piazzolla@stud.uniroma3.it</p>
				<div class="socials">
					<nav class="social-list">
						<a href="https://www.instagram.com/edoardopiazzolla/">
							<img src="/images/Instagram.png" />
						</a>
						<a href="https://www.youtube.com/channel/UC5LdtlfzoK9pftejCPvzWrg">
							<img src="/images/youtube.png" />
						</a>
					</nav>
				</div>
			</div>
			<div class="contacts-container">
				<h3>Vincenzo:</h3>
				<p>Matricola: 576776</p>
				<p>Email: vin.milillo@stud.uniroma3.it</p>
				<div class="socials">
					<nav class="social-list">
						<a href="https://www.instagram.com/vincenzo_milillo/">
							<img src="/images/Instagram.png" />
						</a>
						<a href="https://www.youtube.com/@vincenzomilillo5762">
							<img src="/images/youtube.png" />
						</a>
					</nav>
				</div>
			</div>
		</div>
	</div>
	<script>
		let cielo = document.getElementById('cielo');
		let montagne_back = document.getElementById('montagne_back');
		let text = document.getElementById('text');
		let button = document.getElementById('button');
		let montagne_front = document.getElementById('montagne_front');
		let header = document.querySelector('header');
		window.addEventListener("scroll", function () {
			let value = window.scrollY;
			cielo.style.left = value * 0.25 + 'px';
			montagne_back.style.top = value * 0.50 + 'px';
			text.style.marginRight = value * 2 + 'px';
			text.style.marginTop = value * 1.3 + 'px';
			button.style.marginTop = value * 1.3 + 'px';
			header.style.top = value * 0.5 + 'px'
		})
	</script>
</body>

</html>