<!DOCTYPE html>
<html>

<head>
	<title>Peak Pulse - New Attivita</title>
	<link rel="stylesheet" href="/css/login-style.css">
</head>

<body>
	<header>
		<!-- Title and Nav wrapper-->
		<div class="header-title-nav-wrapper">
			<div class="header-title">
				<div class="header-title-text">
					<a id="site-title" href="/">PeakPulse</a>
				</div>
			</div>
			<div class="header-nav">
				<div class="header-nav-wrapper">
				</div>
			</div>
		</div>
	</header>
	<div class="container" id="container">
		<div class="form-container inserisci">
			<form th:action="@{/esperto/attivita}" method="POST" th:object="${attivita}" enctype="multipart/form-data">
				<h1>Inserisci nuova Attivita</h1>
				<span class="span-text">Inserisci di seguito tutte le informazioni richieste</span>
				<br>
				<input required type="text" placeholder="Nome" th:field="${attivita.nome}">
				<br>
				<input required type="text" placeholder="Descrizione" th:field="${attivita.descrizione}">
				<br>
				<input required type="file" placeholder="URL Immagine" name="immagine" >
				<input type="hidden" name="username" th:value="${userDetails.username}"/>
				<button>Inserisci</button>
			</form>
		</div>
	</div>
</body>

</html>