<!DOCTYPE html>
<html>

<head>
	<title>Peak Pulse Info Attività</title>
	<link rel="stylesheet" href="/css/style.css">
	<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.3/css/all.min.css">
</head>

<body>
	<header>
		<a href="/" class="logo">Siw-PeakPulse</a>
		<h1 class="section-title">INFO ATTIVITÀ</h1>
		<ul>
			<li><a href="/" class="active">Home</a></li>
		</ul>
	</header>
	<div class="info-section" id="info">
		<div class="info-esperto">
			<div class="info-content">
				<div class="titolo-voti">
					<div class="nome-cognome" th:text="${attivita.nome}"></div>
					<div class="media-voti"
						style="display: flex; flex-direction: row; align-items: center; justify-content: space-evenly; width: 20%;">
						<div class="nome-cognome" th:text="${attivita.mediaVoti}"></div>
						<div class="votazione">
							<span class="stelle" th:attr="data-rating=${attivita.mediaVoti}"></span>
						</div>
					</div>
				</div>
				<div class="descrizione">
					<h3>Descrizione:</h3>
					<div class="descrizione-testo" th:text="${attivita.descrizione}"></div>
					<div th:if="${attivita.descrizione == null}">
						Non disponibile
					</div>
					<h3>Esperto autore:</h3>
					<div class="descrizione" th:if="${attivita.esperto != null}">
						<div th:text="${attivita.esperto.nome} + ' ' + ${attivita.esperto.cognome}"
							style="margin-top: 10px; font-size: 20px;"></div>
					</div>
				</div>
				<div class="descrizione" th:if="${attivita.esperto == null}" style="margin-top: 15px; font-size: 20px;">
					L'esperto autore di questa attività non è disponibile!
				</div>
				<a th:href="@{'/esperto/deleteAttivita/' + ${attivita.id}}" class="button-link">
					<button type="button" class="btn1 btn-custom1" style="margin-top: 10px;">Elimina Attività</button>
				</a>
			</div>
			<div class="image-block">
				<div class="info-image" th:if="${attivita.urlImage != null}">
					<div class="image">
						<img class="immagine" th:src="@{/images/__${attivita.urlImage}__}" alt="Attivita Image">
					</div>
				</div>
			</div>
		</div>
	</div>
	</div>
	<div class="info-section-attrezzature" id="attrezzature-utilizzate" style="background-color: unset;">
		<div class="list-content-attrezzature" style="display: flex; flex-direction: column; align-items: center;">
			<div class="titolo-lista" th:if="${!attivita.attrezzatureUtilizzate.isEmpty()}">
				<strong style=" font-size: 30px; color: white; ">Attrezzature Necessarie:</strong>
				<ul class=" list-attrezzature">
					<div class=" list-div-attrezzature" th:each="attrezzatura : ${attivita.attrezzatureUtilizzate}">
						<li class="list-item-attrezzature">
							<div class="image-box">
								<div class="info-image-box" th:if="${attrezzatura.urlImage != null}"
									style="display: flex; flex-direction: column; align-items: center;">
									<div class="image">
										<img class="immagine-attrezzatura"
											th:src="@{/images/__${attrezzatura.urlImage}__}" alt="Attrezzatura Image">
									</div>
								</div>
							</div>
							<a class="list-link-attrezzatura" th:href="@{'/attrezzatura' + '/' + ${attrezzatura.id}}"
								th:text="${attrezzatura.nome}" style="color: white;"></a>
						</li>
					</div>
				</ul>
			</div>
			<div class="lista-attrezzature-empty" th:if="${attivita.attrezzatureUtilizzate.isEmpty()}">
				<strong style="font-size: 30px; color: white; ">Non ci sono attrezzature per questa
					attività</strong>
			</div>
			<a th:href="@{'/esperto/updateAttrezzatura' + '/' + ${attivita.id}}" class="button-link">
				<button type="button" class="btn btn-custom" style="margin-top: 10px;">Gestisci Attrezzature</button>
			</a>
		</div>
	</div>
	<div class="info-section" id="recensioni" style="margin-top: unset; height: auto;">
		<strong style="font-size: 30px; margin-bottom: 20px;">Recensioni</strong>
		<div class="list-content">
			<div class="recensioni-container">
				<ul class="list" th:if="${attivita.recensioni!=null}" style="justify-content: center;">
					<li class="list-item" th:each="recensione : ${attivita.recensioni}"
						style="width: 600px; height: 150px; border: none;">
						<div class="recensione-box">
							<div class="box-top">
								<div class="info-profilo">
									<div class="immagine-profilo">
										<img th:src="@{/images/__${recensione.autore.urlImage}__}">
									</div>
									<div class="info-autore">
										<strong th:text="${recensione.autore.nome} + ' ' + ${recensione.autore.cognome}"
											style="color: #90273A; font-size: 15px;"></strong>
									</div>
								</div>
								<div class="votazione">
									<span class="stelle" th:attr="data-rating=${recensione.numeroStelle}"></span>
								</div>
							</div>
							<div class="sezione-commento">
								<p th:text="${recensione.descrizione}"></p>
								<div class="leggi-link">
									<a th:href="@{'/recensione' + '/' + ${recensione.id}}">Leggi di più...</a>
								</div>
							</div>
						</div>
					</li>
				</ul>
			</div>
		</div>
	</div>
</body>
<script>
	document.addEventListener('DOMContentLoaded', function () {
		const stelleContainers = document.querySelectorAll('.stelle');
		stelleContainers.forEach(container => {
			const rating = parseFloat(container.getAttribute('data-rating'));
			container.innerHTML = generateStars(rating);
		});
	});

	function generateStars(rating) {
		let stars = '';
		for (let i = 1; i <= 5; i++) {
			if (i <= rating) {
				stars += '<i class="fas fa-star"></i>';
			} else if (i - 0.5 <= rating) {
				stars += '<i class="fas fa-star-half-alt"></i>';
			} else {
				stars += '<i class="fas fa-star empty"></i>';
			}
		}
		return stars;
	}
</script>

</html>