<!DOCTYPE html>
<html>

<head>
	<title>Peak Pulse Lista Attrezzature</title>
	<link rel="stylesheet" href="/css/style.css">
</head>

<body>
	<header>
		<a href="/" class="logo">Siw-PeakPulse</a>
		<h1 class="section-title">LISTA ATTREZZATURE</h1>
		<ul>
			<li><a href="/" class="active">Home</a></li>
		</ul>
	</header>
	<div class="info-section" id="info">
		<form th:action="@{/searchAttrezzature}" method="post">
			<div class="search">
				<span class=" search-icon material-symbols-outlined">ricerca</span>
				<input class="search-input" type="text" name="nome" th:value="${nome}" placeholder="####"
					style="font-family: Graduate, serif;;">
			</div>
		</form>
		<div class="list-content">
			<ul class="list" th:if="${!attrezzature.isEmpty()}">
				<li class="list-item" th:each="attrezzatura : ${attrezzature}">
					<div class="image-box">
						<div class="info-image-box" th:if="${attrezzatura.urlImage != null}">
							<div class="image">
								<img class="immagine" th:src="@{/images/__${attrezzatura.urlImage}__}"
									alt="Attrezzatura Image">
							</div>
						</div>
					</div>
					<a class="list-link"
						th:href="@{'/admin/addAttrezzaturaToAttivita/' + ${attrezzatura.id} + '/' + ${attrezzatura.id}}"
						th:text="${attrezzatura.nome}">
						<br>
						Aggiungi
					</a>
				</li>
			</ul>
		</div>
	</div>
</body>

</html>