<!DOCTYPE html>
<html>

<head>
	<title>Peak Pulse Lista Esperti</title>
	<link rel="stylesheet" href="/css/style.css">
</head>

<body>
	<header>
		<a href="/" class="logo">Siw-PeakPulse</a>
		<h1 class="section-title">LISTA ESPERTI</h1>
		<ul>
			<li><a href="/" class="active">Home</a></li>
		</ul>
	</header>
	<div class="info-section" id="info">
		<form th:action="@{/admin/searchEsperti}" method="post">
			<div class="search">
				<span class=" search-icon material-symbols-outlined">search</span>
				<input class="search-input" type="text" name="nome" th:value="${nome}" placeholder="Ricerca">
			</div>
		</form>
		<div class="list-content">
			<ul class="list" th:if="${!esperti.isEmpty()}">
				<li class="list-item" th:each="esperto : ${esperti}">
					<div class="image-box">
						<div class="info-image-box" th:if="${esperto.urlImage != null}">
							<div class="image">
								<img class="immagine" th:src="@{/images/__${esperto.urlImage}__}" alt="Esperto Image">
							</div>
						</div>
					</div>
					<a class="list-link" th:href="@{'/esperto' + '/' + ${esperto.id}}"
						th:text="${esperto.nome} + ' ' + ${esperto.cognome}" style="margin-top: unset; margin: unset;"></a>
					<a class="list-link" th:href="@{'/admin/deleteEsperto/' + ${esperto.id}}" style="font-size: 15px; border: unset; margin-top: 10px; padding: unset;">(Elimina)</a>
				</li>
			</ul>
		</div>
	</div>
</body>

</html>